---
layout: layout.liquid
title: 11ty Boilerplate
---



<h1>Trigonmetric Functions in CSS!</h1>
<p>Trigonemetric functions are being added to CSS math functions, allowing developers to create more organic layouts. 
This example was learned from https://developer.chrome.com/blog/whats-new-css-ui-2023 </p>

  <div class="container">
  </div>
