body {
  text-align: center; 
  background: color-mix(in srgb, #F2B6C6, #48CAD9);
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 24px; 
}

p {
  font-size: 16px; 
}

ul {
  list-style-type: none;
}

.color-list {
  padding: 0;
  margin: 0;
}

.color-list li {
  display: inline-block;
  margin-right: 20px;
  padding: 20px;
}

.mix-container {
  max-width: 400px; 
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mix {
  background-color: #F2B6C6;
  color: white;
  padding: 10px 20px;
  margin: 5px;
}

li:nth-child(1) {
  background-color: color-mix(in srgb,  #eb34c9 0%, white);
}

li:nth-child(2) {
  background-color: color-mix(in srgb,  #eb34c9 25%, white);
}

li:nth-child(3) {
  background-color: color-mix(in srgb,  #eb34c9 50%, white);
}

li:nth-child(4) {
  background-color: color-mix(in srgb,  #eb34c9 75%, white);
}

li:nth-child(5) {
  background-color: color-mix(in srgb,  #eb34c9 100%, white);
}

.srgb {
  background: color-mix(in srgb, #F2B6C6, #48CAD9);
}
.linear-srgb {
  background: color-mix(in srgb-linear,  #F2B6C6, #48CAD9);
}
.hsl {
  background: color-mix(in hsl, #F2B6C6, #48CAD9);
}
.hwb {
  background: color-mix(in hwb, #F2B6C6, #48CAD9);
}
.lch {
  background: color-mix(in lch, #F2B6C6, #48CAD9);
}
.oklch {
  background: color-mix(in oklch, #F2B6C6, #48CAD9);
}
.lab {
  background: color-mix(in lab, #F2B6C6, #48CAD9);
}
.oklab {
  background: color-mix(in oklab, #F2B6C6, #48CAD9);
}
.xyz {
  background: color-mix(in xyz,#F2B6C6, #48CAD9);
}

