.container {
    position: relative;
    width: 200px; 
    height: 200px; 
    margin: 50px auto; 
    border: 2px solid black; 
    border-radius: 50%; 
  }

:root {
    --radius: 20vmin; 
}
  
.dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%; 
    --angle: 0deg;
    translate: 
      calc(cos(var(--angle)) * var(--radius)), 
      calc(sin(var(--angle)) * var(--radius) * -1) 
    ;
}