body {
  text-align: center; 
  background: linear-gradient(to bottom, pink, white);
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 24px; 
}

p {
  font-size: 16px; 
}

ul {
  list-style-type: none;
}

.color-list {
  padding: 0;
  margin: 0;
}

.color-list li {
  display: inline-block;
  margin-right: 20px;
  padding: 20px;
}

.mix-container {
  max-width: 400px; 
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mix {
  background-color: #F2B6C6;
  color: white;
  padding: 10px 20px;
  margin: 5px;
}

.srgb {
  background: linear-gradient(to right, #F2B6C6, #48CAD9);
}
.linear-srgb {
  background: linear-gradient(to right, #F2B6C6, #48CAD9);
}
.hsl {
  background: linear-gradient(to right, #F2B6C6, #48CAD9);
}
.hwb {
  background: linear-gradient(to right, #F2B6C6, #48CAD9);
}
.lch {
  background: linear-gradient(to right, #F2B6C6, #48CAD9);
}
.oklch {
  background: linear-gradient(to right, #F2B6C6, #48CAD9);
}
.lab {
  background: linear-gradient(to right, #F2B6C6, #48CAD9);
}
.oklab {
  background: linear-gradient(to right, #F2B6C6, #48CAD9);
}
.xyz {
  background: linear-gradient(to right, #F2B6C6, #48CAD9);
}
